# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Science use are:
1. Python
2. R
3. Java
4. Julia

**Objectives:**

- List popular languages for Data Science
- Use Markdown code
- List popular libraries for Data Science

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupiter Notebooks  |
| RStudio            |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.
200 / 60

3.3333333333333335

## Author
Kendall Salazar Soto